/* Общие стили для навигации */
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* Добавим немного отступов для общего вида */
    padding: 10px;
    border: 1px solid #ccc; /* Общая рамка для навигации */
    border-radius: 5px; /* Закругленные углы для навигации */
}

/* Стили для ссылок (общие) */
.main-nav a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #ffffff; /* Темно-серый цвет текста */
    font-size: 16px; /* Увеличиваем размер текста */
    padding: 8px 12px; /* Внутренние отступы */
    margin: 0 5px; /* Внешние отступы (половина от желаемого расстояния между ссылками) */
    border-radius: 5px; /* Закругленные углы */
    background-color: #000000; /* Светло-серый фон */
    transition: background-color 0.3s ease; /* Плавный переход для эффекта затемнения */
}

/* Стили для ссылок при наведении */
.main-nav a:hover {
    background-color: #bbb; /* Более темный серый фон при наведении */
}

/* Стили для параграфов */
.main-nav p {
    color: #000000; /* Темно-серый цвет текста */
    margin: 0 5px; /* Внешние отступы (половина от желаемого расстояния между ссылками) */
    /* Рамку убираем */
    padding: 8px 12px; /* Внутренние отступы */
    font-size: 20px; /* Увеличиваем размер текста */
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .main-nav {
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: stretch; /* Растягиваем ссылки на всю ширину контейнера */
        padding: 10px; /* Сделаем padding одинаковым и для ссылок, и для nav */
        border: 1px solid #ccc; /* Общая рамка для навигации */
        border-radius: 5px; /* Закругленные углы для навигации */
    }

    /* Стили для ссылок на мобильных устройствах */
    .main-nav a {
        margin: 5px 0; /* Внешние отступы сверху и снизу */
        display: block; /* Занимаем всю ширину */
        text-align: center; /* Выравниваем текст по центру */
    }

    /* Стили для параграфов на мобильных устройствах */
    .main-nav p {
        margin: 5px 0; /* Внешние отступы сверху и снизу */
        display: block; /* Занимаем всю ширину */
        text-align: center; /* Выравниваем текст по центру */
    }
}