{% extends "base.html" %}
{% block title %}Правила бронирования Зевса{% endblock title %}

{% block main%}
<h1 style="text-align: center; background-color: black; color: white; padding: 20px;">
	Правила бронирования площадок в ЦПВС «ЗЕВС»
</h1>

<div class="body">
<h4>1. Общие положения</h4>
<p>1.1. Соблюдение данных правил является обязательным для всех посетителей ЦПВС «ЗЕВС» (далее Правила)</p>
<p>1.2. При осуществлении бронирования и посещении спорткомплекса, посетители ЦПВС «ЗЕВС» (далее Клиенты) обязуются соблюдать данные Правила. Администрация ЦПВС «ЗЕВС» оставляет за собой право вносить изменения, дополнять или удалять разделы данных Правил по своему усмотрению без уведомления и в любое время. Пожалуйста, периодически проверяйте этот раздел для ознакомления с возможными изменениями и дополнениями. Осуществление процедуры бронирования после внесения изменений и/или дополнений означает Ваше безоговорочное принятие данных изменений и/или дополнений.</p>
<p>1.3. Посещение спорткомплекса является для посетителей делом сугубо добровольным и все риски, связанные с использованием спорткомплекса, посетитель берет на себя.</p>
<p>1.4. Запрещается входить на территорию крытого СК с животными.</p>
<p>1.5. Категорически запрещается проносить и употреблять пищу в пределах игровой зоны.</p>
<p style="font-weight: bold;">Посетители ЦПВС «Зевс» обязаны:</p>
<p>1.6. Выполнять все указания персонала спорткомплекса.</p>
<p>1.7. Соблюдать и поддерживать общественный порядок, общепринятые нормы поведения, вести себя уважительно по отношению к другим посетителям и персоналу спорткомплекса.</p>
<p>1.8. Бережно относиться к оборудованию спорткомплекса.</p>
<p>1.9. Не мешать другим посетителям спорткомплекса.</p>
<p>1.10. Строго выполнять все ограничения, указанные в настоящих Правилах и информационных знаках.</p>
<p>1.11. Вернуть использованное оборудование в специально отведенные места после тренировки.</p>
<p style="margin-bottom: 70px;">1.12. В случае утраты или повреждения имущества спорткомплекса возместить ущерб в размере фактической стоимости утраченного или поврежденного имущества.</p>
<h4>2. Правила пребывания в ЦПВС "Зевс" с детьми.</h4>
<p>2.1. Спортивный комплекс не является детским спортивным объектом, к которому применяются специальные правила безопасности.
	Родители, посещающие тренировки и приводящие с собой детей должны понимать это и учитывать следующие рекомендации/правила:</p>
<p>2.2. Вход в спортивный комплекс без сопровождения взрослого запрещён.</p>
<p>2.3. Ребенок должен находиться все время под присмотром родителей ( сопровождающих) и на той площадке, которую занимают родители.</p>
<p>2.4. Ребенок не должен забегать на корт, отгороженный лентой, не должен мешать выполнению подач и других игровых действий вне ленты.</p>
<p>2.5. Ребенок не должен выкапывать ямы</p>
<p>2.6. Ребенок не должен висеть на разграничительных сетках, столбах, игровых сетках.</p>
<p>2.7. Родители должны убирать за детьми мешки, мячи и другой инвентарь</p>
<p>2.8. Запрещён вход на 2-ой этаж ( там находятся коммуникации и др.)</p>
<p>2.9. Запрещён пронос еды на корты - только в зону отдыха. При этом родители обязаны убрать остатки со столов.</p>
<p>2.10. Запрещено нахождение в зале без сменной обуви.</p>
<p>2.11. Запрещено нахождение детей без родителей в раздевалках</p>
<p>2.12. Запрещено вытаскивать и разбрасывать утеплитель ( керамзит), находящийся за ограждением.</p>
<p>2.13. Запрещено прикасаться к электрооборудованию и нагревательным приборам.</p>
<p>2.14. Запрещено бросать мячи и другие предметы на корты.</p>
<p>2.15.Ответственность за нахождение детей в зале несут родители. Администрация не принимает на себя никакой ответственности за то, что может произойти с ребенком в зале, так как, как указано выше, данный комплекс не предназначен по нормам безопасности для самостоятельного и бесконтрольного нахождения в нём детей, не оборудован детской комнатой, не имеет специального персонала. Вся ответственность лежит на родителях , сопровождающих и тренерах.</p>
<p style="margin-bottom: 70px;">2.16. В случае нарушения данных правил, вход в спортивный комплекс будет запрещён.</p>
<h4>3. Условия бронирования</h4>
<p>3.1. Бронирование осуществляется исключительно в системе бронирования на сайте <a class="just-href" href="https://zeus.center/" >https://zeus.center/</a>. Бронирование считается подтвержденным при условии внесения 100 % оплаты от стоимости аренды площадки.</p>
<p>3.2. Оплата бронирования означает согласие с Правилами, а также Правилами нахождения посетителей на территории ЦПВС «ЗЕВС».</p>
<p>3.3. При бронировании количество занимающихся на каждой площадке ограничено 8 (восемью) взрослыми или 12 ( двенадцатью) детьми до 16 лет.</p>
<p>3.4. При бронировании всех трёх площадок(зала целиком для турниров, корпоративных и пр. мероприятий) количество участников определяется организатором.</p>
<p>3.5. Бронирование турниров и условий проведения, оплаты, отмены и т.п. производятся в индивидуальном порядке.</p>
<p>3.6. В холодное время года бронирование менее,чем за 2 часа до предполагаемого времени занятий,администрация не гарантирует комфортных условий проведения занятий.</p>
<p style="margin-bottom: 70px;">3.7. КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО БРОНИРОВАНИЕ КЛИЕНТАМИ, НЕ ДОСТИГШИМИ 18 ЛЕТ.</p>
<h4>4. Отмена бронирования</h4>
<p>4.1. Отмена бронирования возможна с переносом на другое время и осуществляется по тел: <a class="just-href" href="tel:+79779509117">+7(977)950-91-17</a>, не позднее 5-ти суток до забронированного времени. По истечении этого времени бронирование считается подтвержденным, оплата не возвращается и перенос на другое время не осуществляется.</p>
<p>4.2. Клиент вправе передать свое время другим клиентам без уведомления администрации ЦПВС "ЗЕВС".</p>
</div>

<style>
	h4 {
    /* margin-top: 50px; */
	}

	p {
		font-size: 20px;
		margin-block: 30px;
	}

	.body {
		/* padding: 40px 300px; */
		max-width: 900px;
		margin: 0 auto;
		padding-block: 30px;
		
	}

	.just-href {
	color: rgb(17, 85, 204);
	text-decoration-line: underline;
	background: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
	}
</style>











{% endblock main%}
