{% extends "base.html" %}
{% block title %}Правила бронирования Зевса{% endblock title %}

{% block main%}
<h1 style="text-align: center; background-color: black; color: white; padding: 20px; margin-block: 20px;">
	Правила бронирования площадок в ЦПВС «ЗЕВС»
</h1>

<div class="body">
<h4>1. Общие положения</h4>
<p>1.1. Соблюдение данных правил является обязательным для всех посетителей ЦПВС «ЗЕВС» (далее Правила)</p>
<p>1.2. При осуществлении бронирования и посещении спорткомплекса, посетители ЦПВС «ЗЕВС» (далее Клиенты) обязуются соблюдать данные Правила. Администрация ЦПВС «ЗЕВС» оставляет за собой право вносить изменения, дополнять или удалять разделы данных Правил по своему усмотрению без уведомления и в любое время. Пожалуйста, периодически проверяйте этот раздел для ознакомления с возможными изменениями и дополнениями. Осуществление процедуры бронирования после внесения изменений и/или дополнений означает Ваше безоговорочное принятие данных изменений и/или дополнений.</p>
<p>1.3. Посещение спорткомплекса является для посетителей делом сугубо добровольным и все риски, связанные с использованием спорткомплекса, посетитель берет на себя.</p>
<p>1.4. Запрещается входить на территорию крытого СК с животными.</p>
<p>1.5. Категорически запрещается проносить и употреблять пищу в пределах игровой зоны.</p>
<p>Посетители ЦПВС «Зевс» обязаны:</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


</div>

<style>
	p {
		font-size: 18px;
	}

	.body {
		/* padding: 40px 300px; */
		max-width: 800px;
		margin: 0 auto;
		padding-block: 30px;
		
	}
</style>











{% endblock main%}
